.footer {
  border-bottom: 10px solid $color-offblack;

  display: grid;
  grid-template-columns: 2 / 1fr;
  grid-template-rows: 3 / 1fr;
  grid-column-gap: 40rem;

  
  background-color: $color-offwhite;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;

  &__social {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    text-align: right;

    &--icon {
    height: 5rem;
    width: 5rem;
    padding: 2rem;
    }
  }

  &__logo {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    
    height: 184px;
    width: 400px;
  }
}
