.headlineMobile {
  
  border-top: 1.5rem solid $color-offblack;

  display: inline-block;
  grid-template-columns: 3 / 1fr;
  grid-template-rows: 1 / 1fr;
  grid-gap: 1rem;

  &__logo {
    
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    animation-name: fade;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
  }

  &__burger {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: right;
    padding-right: 1rem;
    cursor: pointer;
  }

  &__menu {
    font-family: $font-primary;
    font-size: 2rem;
    line-height: 2;
    color: $color-offblack;
    margin: 0 2.5rem;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: center;
    list-style: none;
  }

  &__book {
    font-family: $font-primary;
    font-size: 2rem;
    line-height: 2;
    color: $color-offblack;
    margin: 0 2.5rem;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
    list-style: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(.9);
  }

  100% {
   opacity: 1;
   transform: scale(1);
  }
}

