.hero {
  background-color: $color-offwhite;
  padding: 5rem 0;
  
  &__photo {
    width: 100%;
    max-width: 1090px;
    // height: 700px;
    // width: 1090px;
    display: block;
    margin: 0 auto;
  }
}