//COLORS 
$color-offwhite: #DFDFDF;
// $color-offblack: #383838;
$color-offblack: #2B2B2B;
$color-prettyblack: #121212;
$color-seafoam: #B8EEDE;

$color-white: #fff;
$color-black: #000;
$color-grey: #595B58;


//FONTS
$font-primary: Nunito Sans;
$font-secondary: Cardo !important;
$font-secondary-light: "CooperHewittLight" !important;

//use the !important tag to insist for safari mobile
